* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
}

.maincontainer {
  max-width: 820px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#innercontainer {
  padding: 20px;
}

.logo {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --- Additional Styling for Layout --- */

.topHeading{
  text-align: center;
  border-bottom:2px solid #1f77aa; 
  border-radius: 7px;
  margin-bottom: 40px;
}

h3{
    font-size: 1.75rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
}

@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
}

.form-group input, 
.form-group select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group input:focus, 
.form-group select:focus {
    border-color: #007BFF;
    outline: none;
}

.btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button#generateBtn, button#generateWordBtn {
  margin: 0px 30px;
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button#generateBtn:hover, 
button#generateWordBtn:hover {
    background-color: #0056b3;
}

button#generateBtn:disabled, 
button#generateWordBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 14px;
    color: #000000;
}